body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-size:contain
}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-container{
    margin-top: 8px;
    width: 50vw;
    min-height: 30vh;
    background: hsl(147, 50%, 47%);
}

.table-container button {
    background: white;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

button {
    border-radius: 8px;
}

.table-container thead {
    background-color: white;
}


.hide {
    display: none;
}

.aboveTable {
    background-color: hsla(0, 100%, 100%, 0.9);
     width: 50vw;
}

.aboveTable button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: hsl(147, 50%, 47%);
    border: 0px;
}

.aboveTable input{ 
    width: 200px;
    font-family: 'Courier New', Courier, monospace;

}

.book-details {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    height:  300px;
    width: 500px;
}

.book-details h2{
    text-align: center;
}

div.book-img {
    display: flex;
    flex-direction: row;
}

div.book-img img {
    height: 150px;
    width: 100px;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
}

.stats{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: hsl(300, 76%, 72%)
}