body{
    font-family: 'Courier New', Courier, monospace;
    
}
.table-container{
    margin: 50px auto;
    width: 50vw;
    min-height: 30vh;
    background: #c4d3f6;
}

.table-container button {
    background: white;
   width: 30%;
    font-family: 'Courier New', Courier, monospace;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

.table-container thead {
    background-color: white;
}


.hide {
    display: none;
}

.aboveTable button{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
 background: #c4d3f6;
 border: 0px;
}

.aboveTable input{ 
    width: 200px;
    font-family: 'Courier New', Courier, monospace;

}

.book-details {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    height:  300px;
    width: 500px;
 
}
.book-details h2{
    text-align: center;
}

div.book-img {
    display: flex;
    flex-direction: row;
}

div.book-img img {
    height: 150px;
    width: 100px;
}

.close {
     position: absolute;
    right: 20px;
    top: 10px;

}