.table-container{
    margin: 50px auto;
    width: 50vw;
    min-height: 30vh;
    background: #c4d3f6;
    font-family: 'Courier New', Courier, monospace;
}

.table-container button {
    background: #c4d3f6;
   width: 30%;
    font-family: 'Courier New', Courier, monospace;
    border: 0px;

}
.table-container thead {
    background-color: white;
}


.hide {
    display: none;
}


.book-details {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    height:  550px;
    width: 500px;
 
}
.book-details h2{
    text-align: center;
}

div.book-img img {

}

.close {
     position: absolute;
    right: 20px;
    top: 10px;

}